.darkBG {
	background: #999;
}
.darkerBG {
	background: #666;
}
.darkestBG {
	background: #333;
}
.myPanel {
	border: 1px solid #687D6D;
	border-radius: 5px 5px 0 0;
	box-shadow: 0px 0px 4px black;
	margin: 3%;
}
.myPanel .heading {
	background: #B6F0C4;
	border-radius: 5px 5px 0 0;
	color: #687D6D;
	padding: 10px 20px;
}
.myPanel .body {
	padding: 10px 20px;
}
.myPanel .showOnHover {
	display: none;
}
.myPanel:hover {
	box-shadow: 0px 0px 5px black;
	border: 2px solid #687D6D;
}
.myPanel:hover .showOnHover {
	display: inline-block;
}